<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Do not uninstall: Support files for other bundles.</string>
	<key>name</key>
	<string>Bundle Support</string>
	<key>uuid</key>
	<string>0BB1F01A-4F0A-475A-ACDD-0F5578F2EFC3</string>
</dict>
</plist>
